svg {
  position: absolute;
  top: 0;
  left: 0;
}
.curve, .line {
  fill: none;
  stroke-width: 1px;
}
.curve {
  stroke: red;
  stroke-width: 2px;
}


body {
    /*background-image: url("img/gk_logo.png");*/
}
